{% extends "base.html" %} {% load static %} {% block content %}
<!-- Services SECTION STARTS -->
<section class="py-lg-5 full-width">
  <div class="container">
    <div class="row pb-4" data-aos="fade-up">
      <div class="col-lg-8">
        <h6>SERVICES</h6>
        <h1>Services That I Provide</h1>
      </div>
    </div>
    <div class="row gy-4">
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
        <div
          class="service p-4 rounded-3 d-flex flex-column justify-content-center align-items-center bg-base shadow-effect"
        >
          <div class="iconbox rounded-4">
            <i class="las la-server"></i>
          </div>
          <h4 class="mt-4 mb-2">API Development</h4>
        </div>
      </div>

      <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
        <div
          class="service p-4 rounded-3 d-flex flex-column justify-content-center align-items-center bg-base shadow-effect"
        >
          <div class="iconbox rounded-4">
            <i class="las la-database"></i>
          </div>
          <h4 class="mt-4 mb-2">Real-Time Features</h4>
        </div>
      </div>

      <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
        <div
          class="service p-4 rounded-3 d-flex flex-column justify-content-center align-items-center bg-base shadow-effect"
        >
          <div class="iconbox rounded-4">
            <i class="las la-database"></i>
          </div>
          <h4 class="mt-4 mb-2">User Authentication</h4>
        </div>
      </div>

      <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
        <div
          class="service p-4 rounded-3 d-flex flex-column justify-content-center align-items-center bg-base shadow-effect"
        >
          <div class="iconbox rounded-4">
            <i class="las la-cogs"></i>
          </div>
          <h4 class="mt-4 mb-2 text-center">Background Task Automation</h4>
        </div>
      </div>

      <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
        <div
          class="service p-4 rounded-3 d-flex flex-column justify-content-center align-items-center bg-base shadow-effect"
        >
          <div class="iconbox rounded-4">
            <i class="las la-database"></i>
          </div>
          <h4 class="mt-4 mb-2 text-center">Deployment and DevOps Support</h4>
        </div>
      </div>

      <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
        <div
          class="service p-4 rounded-3 d-flex flex-column justify-content-center align-items-center bg-base shadow-effect"
        >
          <div class="iconbox rounded-4">
            <i class="las la-database"></i>
          </div>
          <h4 class="mt-4 mb-2 text-center">Database Design & Optimization</h4>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Services SECTION ENDS -->
{% endblock content %}
